@import '../../../assets/styles/common.scss';

.register {
  &-form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
    margin: 2rem 3rem;
  }

  &-error {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    color: $red;
    text-align: center;
    text-transform: capitalize;
  }

  &__btn {
    &-container {
      position: relative;
      margin: 0;
      text-align: center;
      cursor: pointer;
    }
  }
}
