@import '../../assets/styles/common.scss';

.createnft {
  &-form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 4rem;
    margin-left: 3rem;
  }

  &-error {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    color: $red;
    text-align: center;
    text-transform: capitalize;
  }

  &-success {
    @extend .createnft-error;

    color: green;
  }

  &__btn {
    margin: 2rem;
    cursor: pointer;

    &-container {
      display: flex;
      align-items: center;
      margin: auto;
      padding-top: 2.5rem;
      text-align: center;
    }
  }
}
