@import './colors';

@mixin bg-gradient {
  background-image: linear-gradient($white, $eggshell, $dark-yellow);
  background-attachment: fixed;
}

@mixin dashboard-txt-shadow {
  text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
}
